@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list-container {
  padding: 10px;
  width: 600px;
}

:root {
  --border: #121213;
  --theme: rgb(200, 200, 200);
  --white-color: #fff;
}

.book-list {
  margin: 10px auto;
  padding: 10px 0;
  border: 2px solid var(--theme);
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid var(--theme);
}

.light {
  background-color: var(--white-color);
}

.dark {
  background-color: var(--border);
  color: var(--white-color);
}

.bar {
  border-bottom: 4px solid var(--border);
  width: 5rem;
  display: block;
  text-align: center;
}

.author,
.title {
  height: 40px;
  border: 1px solid var(--border);
  width: 300px;
  margin: 5px 0;
  padding: 5px;
}

.title-bar {
  text-align: center;
  padding: 10px;
}

.add-btn {
  background-color: var(--theme);
  width: 100px;
  height: 40px;
  border: none;
  padding: 5px;
  color: var(--border);
  font-weight: bold;
  margin: 10px 10px 0 0;
  cursor: pointer;
  font-size: 25px;
}

button {
  background-color: var(--theme);
  width: 70px;
  height: 30px;
  border: none;
  padding: 5px;
  color: var(--border);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 6px 2px var(--border);
  z-index: 999;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
/* .book-item:nth-child(even)  {
  background-color: #d3d3d3;
} */